.wrapper{
	padding-top: 170px;
}

.wrapper2{
	display: block;
	width: 60%;
	height: 450px;
	background: white;
	margin: auto;
	border-radius: 5%;
	padding-top: 10px;
}

.choice1{
	min-height: 0px;
	margin-bottom: 10px;
	border: 1px solid red;
}

.choice2{
	height: 30px;
	border: 1px solid red;
}

.choice3{
	max-height: 350px;
	height: 350px;
	margin-top: 10px;
	border: 1px solid red;
}

@media (max-width: 700px){
	.wrapper2{
		width: 90%;
	}
}