.wrapper{
	padding-top: 120px;
}

.wrapper2{
	display: block;
	background: transparent;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 30px;
}

.choice1{
	min-height: 0px;
	margin-bottom: 10px;
}

.choice2{
	min-height: 30px;
}

.choice3{
	min-height: 300px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.flx{
	display: flex;
}

@media (max-width: 700px){
	.wrapper2{
		width: 90%;
	}
	.wrapper{
		padding-top: 170px;
	}
}