@import url('https://fonts.googleapis.com/css?family=Rouge+Script|Seaweed+Script&display=swap');
.padt{
	padding-top: 150px;
}
.ht{
	width: 70%;
	min-height: 450px;
	margin: auto;
	margin-top: 0px;
	text-align: center;
	font-family: 'Rouge Script', cursive;
	color: black;
	background-color: #FFFAFA;
	border-radius: 2%;
	font-weight: 400;
	box-shadow: 10px 10px 15px black;
}

.fs1{
	font-size: 50px;
}

.fs2{
	font-size: 30px;
}

.first{
	width: 80%;
	border-bottom: 1px solid black;
	margin: auto;

}

.second{
	width: 33%;
	min-height: 360px;
	margin-top: 5px;
	margin-right: 10px;
	float: right;

}

.third{
	width: 63%;
	min-height: 360px;
	margin-top: 5px;
	margin-left: 10px;
	padding-top: 30px;
	float: left;
}



@media(max-width: 700px){
	.padt{
		padding-top: 200px;
	}
	.ht{
		width: 95%;
	}
	.second{
		width: 100%;
		float: none;
	}
	.third{
		width: 100%;
		float: none;
		text-align: center;
		padding-right: 7px;
	}
}