@import url('https://fonts.googleapis.com/css?family=Rouge+Script|Seaweed+Script&display=swap');

.logo{
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
	padding-top: 10px;
}

.marg{
	margin-left: 20px;
}


