.forme{
	height: 80px;
	width: 300px;
	background-color: transparent;
	border-radius: 5%;
	margin-top: 200px;
	box-shadow: 5px 5px 10px black;
	transition-property: height, margin-top;
	transition-duration: 2s;

}

.forme:hover{
	height: 420px;
	margin-top: 40px;
}
.black{
	color: black;
}	

.blick{
	display: none;
}

.forme:hover .blick {
	display: block;
}